.card-calendar-container {
  background-color: #a9a8a8;
  width: 98vw !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.calendar-widget {
  margin-right: 2rem;
}

.calendly-widget {
  width: 50rem;
}

.scout-card-grid-container {
  margin-left: 1.5rem !important;
}

.chat-button {
  margin-top: 1.2rem;
  height: 5rem;
  width: 30rem;
  font-size: 2.5rem;
  background-color: #7f93c6;
  color: #000000;
}
