.home {
  background-color: #023e8a;
  // height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 10px;
  width: 80%;
  height: 85%;
  display: flex;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  background-color: #d9d9d9;
  position: relative;
}

.chats {
  .chat-divider {
    height: 0.1rem;
  }
}

.userChat {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}

.userChatInfo {
  span {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  p {
    font-size: 14px;
    color: black;
  }
}

.mainChat {
  flex: 2;
  border: 3px solid black;
}

.contact-photo {
  height: 50px;
  margin-right: 2rem;
}

.chatHeader {
  height: 5rem;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: black;
}

.messages {
  background-color: #f5f5f5;
  padding: 15px;
  height: calc(100% - 119px);
  overflow: scroll;

  .message {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;

    .messageInfo {
      display: flex;
      flex-direction: column;
      color: gray;
      font-weight: 300;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    .messageContent {
      max-width: 90%;

      p {
        background-color: white;
        padding: 8px 10px;
        border-radius: 0px 8px 8px 8px;
        max-width: max-content;
      }
    }
  }
}

/*
.chatInput {
  height: 20px;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    border: none;
    color: #2f2d52;
    font-size: 15px;
    border: none;
  }

  .send-button {
    button {
      padding: 7px 14px;
      color: white;
      border: none;
      border-radius: 10px;
      background-color: #6f80ba;
      cursor: pointer;
    }
  }
}
*/
