.overlay {
  background: #023e8a;
  // position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  padding-top: 1rem;
  overflow: auto;
}

.inprogress-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.inprogress-text {
  color: white;
  margin-left: 3rem;
  padding-right: 2rem;
}

.past-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.past-text {
  color: white;
  margin-left: 3rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.userTypeContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
}

.userTypeButton1 {
  border-radius: 20px;
  font-size: 1.5em;
  padding: 10px;
  margin-left: 1rem;
}

.inactive {
  background-color: #ff681e;
}

.active {
  background-color: #006b3d;
}

.userTypeButton2 {
  border-radius: 20px;
  font-size: 1.5em;
  padding: 10px;
  margin-left: 1rem;
}
