.img-thumbnail {
  margin-top: 2rem;
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border: none;
  border-radius: 50% !important;
  margin-bottom: 1rem;
}

.personal-details-container {
  background: white;
  width: 60rem;
  padding-bottom: 1.5rem;
}

.edit-info-button {
  margin-bottom: 1rem !important;
}

.save-info-button {
  margin-top: 1rem !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
