.scout-card {
  background-color: #d9d9d9;
  width: 15rem !important;
}

.user-avatar {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.8rem;
}

.ratings {
  border: 1px solid black;
  background: rgba(2, 62, 138, 0.72);
}
