.signup-header {
  color: #ffffff;
  margin-bottom: 2rem;
}

.overlay {
  background: #023e8a;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.signup-submit-button {
  margin-top: 2rem;
  background-color: #ade8f4 !important;
  color: #023e8a !important;
}
